GROQ_API_KEY=your_groq_api_key_here

MEMORY_TYPE=demo
CHROMA_PATH=./chroma_db


# MEMORY_TYPE=pinecone 
PINECONE_API_KEY="your_pinecone_api_key_here"
PINECONE_ENVIRONMENT="us-east-1"
PINECONE_INDEX_NAME="nl2sql-memory"
PINECONE_DIMENSION=384
PINECONE_METRIC="cosine"